<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="teacherfragments :: head"></head>

<body class="clgray">
    <div class="container-fluid">
        <nav th:replace="teacherfragments :: nav"></nav>
        <div class="container-fluid mt-4 bg-white">
            <div class="row">
                <div class="col-sm-8 ct2 text-center">
                    <h1 id="roster-title"></h1>
                </div>
                <div class="col-sm-4 mt-2">
                    Showing:
                    <form method="post" id="groupSubjectPairForm" th:object="${groupSubjectPairForm}">
                        <select th:field="*{selectedPair}" class="container-fluid form-control">
                            <option th:each="pair : *{pairs}" th:value="${pair.groupingId}"
                                    th:text="${pair.groupName} + ' - ' + ${pair.subjectName}"></option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover nav-pills mt-4" id="roster">
                    <thead class="thead-light">
                        <tr id="rowid-0">
                            <th class="align-middle">Student Name</th>
                            <th th:each="schedule : ${schedules}" class="text-right">
                                <div th:text="${schedule.description}"></div>
                                <div>
                                    <small th:text="${#calendars.format(schedule.date,'MM/dd/yyyy')}"></small>
                                </div>
                                <div>
                                    <small th:text="${schedule.percentage} + '%'"></small>
                                </div>
                            </th>
                            <th class="text-right align-middle">Cumulative</th>
                        </tr>
                    </thead>
                    <tr th:each="student : ${studentlist}" th:id="'rowid-' + ${student.studentId}">
                        <td>
                            <a th:text="${student.studentName}" href="#" th:id="'studentId-'+${student.studentId}"
                               class="text-left nav-link"></a>
                        </td>
                        <td th:each="eval : ${student.gradeEvalPairs}" th:text="${eval.gradeValue} !=null ? ${eval.gradeValue}: '-'"
                            th:id="'gradeId:'+${eval.gradeId}+'-scheduleId:'+${eval.scheduleId}" class="text-right">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="container-fluid bg-white">
                <div class="col-sm-6 bg-white table-responsive" id="student-grades-form" hidden>
                    <h2 id="student-grades-form-title" class="text-center"></h2>

                    <table class="table table-sm" id="grades-table">
                        <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th class="text-right">%</th>
                            <th class="cellw text-center">Grade</th>
                        </tr>
                        </thead>
                        <tr>
                            <td></td>
                            <td>Totals:</td>
                            <td id="totalperc" class="text-right"></td>
                            <td id="cum" class="text-center"></td>
                        </tr>
                    </table>
                    <div class="py-2">
                        <button id="save-button" class="btn btn-primary btn-sm">Save</button>
                        <button id="close-button" class="btn btn-primary btn-sm">Close</button>
                    </div>

                    <div class="alert alert-danger alert-dismissible my-2" id="student-grades-form-msg" hidden>
                    </div>
                </div>
                <div class="col-sm-6 bg-white"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/teacherroster.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>