<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>

    <!-- <link rel="stylesheet" th:href="@{/css/styles.css}"/> -->
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
  <div class="container-fluid">
    <nav id="nav1" class="nav nav-pills navbar bg-dark justify-content-end">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Grades</button>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">John Mackinder</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div>
            <h1 class="text-center">Dash board</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover nav-pills">
            <thead class="thead-light">
              <tr>
                <th>Subject</th>
                <th>Last Eval.</th>
                <th>Description</th>
                <th>%</th>
                <th>Grade</th>
                <th>Cumulative</th>
              </tr>
            </thead>
            <tr>
              <td id="d1" data-subject_id="123" class="btn btn-link nav-link active" onclick="selectSubject(event)">Literature</td>
              <td>01/19/2019</td>
              <td>Assignment</td>
              <td>30%</td>
              <td>100</td>
              <td>30.00</td>

            </tr>
            <tr>
              <td id="d2" data-subject_id="556" class="btn btn-link nav-link" onclick="selectSubject(event)">Science</td>
              <td>01/15/2019</td>
              <td>Assignment</td>
              <td>30%</td>
              <td>90</td>
              <td>27.00</td>
            </tr>
            <tr>
              <td id="d3" data-subject_id="399" class="btn btn-link nav-link" onclick="selectSubject(event)">Math</td>
              <td>01/15/2019</td>
              <td>Test</td>
              <td>35%</td>
              <td>95</td>
              <td>33.25</td>
            </tr>
          </table> 
        </div>
    </div>
	
    <div class="container-fluid">
        <h2 class="text-center">Details</h2>
        <h4 class="text-center"><span id="detailedsubjectname">Literature</span> evaluation plan</h4>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th class="text-right">%</th>
                  <th class="text-right">Grade</th>
              </tr>
            </thead>

              <tr>
                  <td>01/05/2019</td>
                  <td>Assignment</td>
                  <td class="text-right">30%</td>
                  <td class="text-right">100</td>
              </tr>
              <tr>
                  <td>01/12/2019</td>
                  <td>Assignment</td>
                  <td class="text-right">30%</td>
                  <td class="text-right">98</td>
              </tr>
              <tr>
                  <td>01/19/2019</td>
                  <td>Test</td>
                  <td class="text-right">30%</td>
                  <td class="text-right">95</td>
              </tr>
              <tr>
                  <td>01/25/2019</td>
                  <td>Participation</td>
                  <td class="text-right">10%</td>
                  <td class="text-right">100</td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td class="text-right">100%</td>
                  <td class="text-right">98.75</td>
              </tr>
          </table>
        </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>