<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <title>Document</title>

    <!-- <link rel="stylesheet" th:href="@{/css/styles.css}"/> -->
    <!-- <script type="text/javascript" th:src="@{/js/studenthome.js}"></script> -->

</head>
<body>
    <nav id="nav1" class="nav nav-pills navbar navbar-dark bg-dark justify-content-end">
		<a class="nav-link" onclick="clearActive(event)" href="/registrar/students">Students</a>
		<a class="nav-link" onclick="clearActive(event)" href="/registrar/teachers">Teachers</a>
		<a class="nav-link" onclick="clearActive(event)" href="/registrar/subjects">Subjects</a>
		<a class="nav-link" onclick="clearActive(event)" href="/registrar/groups">Groups</a>
		<a class="nav-link" onclick="clearActive(event)" href="#" th:text="${username}"></a>
		<div>
			<a class="nav-link" onclick="clearActive(event)" href="/logout">Log out</a>
		</div>
    </nav>
	<br>
	<div>
		<div>
			Showing:
			<form method="post" id="groupForm" th:object="${groupForm}">
				<select th:field="*{groupId}">
					<option th:each="group : *{groups}" th:value="${group.id}" th:text="${group.name}"></option>
				</select>
			</form>
		</div>

		<div id="group-option-menu">
			<small>You can also <a id="add-group" href="#">Add</a>, <a id="edit-group" href="#">Edit</a> or <a id="delete-group" href="#">
				Delete</a>	the
				selected
				group</small>
		</div>
		<div>
			<span id="delete-group-msg"></span>
		</div>

		<div id="group-form" hidden>
			<div>
				<h3 id="group-form-title">Adding a new group</h3>
				Name: <input id="group-name-box" type="text"><br>
			</div>
			<div>
				<button id="action-button">Add</button>
				<button id="group-cancel-button">Close</button>
			</div>
			<div>
				<span id="group-msg"></span>
			</div>
		</div>
	</div>
	<br>

	<div>
		<h1>Group Assignment</h1>
		<table id="grouping-table">
			<tbody id="grouping-list">
				<tr>
					<th>Subject</th>
					<th>Teacher</th>
					<th></th>
				</tr>
				<tr th:each="group : ${grouping}" th:id="'rowid-' + ${group.id}">
					<td th:text="${group.subject.name}"></td>
					<td th:text="${group.teacher.firstName} + ' ' +  ${group.teacher.lastName}"></td>
					<td><a th:id="'removeId-' + ${group.id}" href="#">Remove</a>
				</tr>
				<tr>
					<td><a id="a-link-add" href="#">Add</a></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div id="add-form" hidden>
			<div>
				<h3>Pairing subjects to teachers</h3>
				Subject:
				<select th:id="subjects">
					<option value="0">Select one</option>
					<option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
				</select>
				Teacher:
				<select th:id="teachers">
					<option value="0">Select one</option>
					<option th:each="teacher : ${teachers}" th:value="${teacher.id}"
							th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></option>
				</select>
			</div>
			<div>
				<button id="addgrouping-button">Add</button>
				<button id="cancelgrouping-button">Close</button>
			</div>
			<div>
				<!--<span th:text="${errormsg}" th:class="Error">Default error message</span>-->
				<span id="grouping-msg"></span>
			</div>
		</div>
		<span id="outer-grouping-msg"></span>
	</div>



	<script type="text/javascript" th:src="@{/js/registrargroups.js}"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>