<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <title>Document</title>
</head>
<body>
    <nav id="nav1" class="nav nav-pills navbar navbar-dark bg-dark justify-content-end">
        <a class="nav-link disabled" onclick="clearActive(event)" href="/registrar/students">Students</a>
        <a class="nav-link disabled" onclick="clearActive(event)" href="/registrar/teachers">Teachers</a>
        <a class="nav-link disabled" onclick="clearActive(event)" href="/registrar/subjects">Subjects</a>
        <a class="nav-link disabled" onclick="clearActive(event)" href="/registrar/groups">Groups</a>
        <a class="nav-link" onclick="clearActive(event)" href="#" th:text="${username}"></a>
        <div>
            <a class="nav-link" onclick="clearActive(event)" href="/logout">Log out</a>
        </div>
    </nav>
    <div>
        <h1 th:if="${editmode}">Edit Student</h1>
        <h1 th:unless="${editmode}">Add Student</h1>
    </div>
    <div>
        <form th:action="${editmode} ? '/registrar/student/edit/update' : _" method="post" th:object="${student}">
            First name:
            <input th:field="*{firstName}"><br>
            <small th:errors="*{firstName}"></small><br>

            Last name:
            <input th:field="*{lastName}"><br>
            <small th:errors="*{lastName}"></small><br>

            Group:
            <select th:field="${groupForm.groupId}">
                <option value="0">No group</option>
                <option th:each="group : ${groupForm.groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
            <br><br>

            Email address:
            <input th:field="*{email}" th:disabled="(${editmode} and *{confirmed})"><br>
            <small th:errors="*{email}"></small><br>

            Address:
            <input th:field="*{address}" th:disabled="(${editmode} and *{confirmed})"><br><br>

            Phone number:
            <input th:field="*{phoneNumber}" th:disabled="(${editmode} and *{confirmed})"><br>

            <div th:if="${editmode}">
                Active:
                <select th:field="*{active}">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
			<br>
            <!--hidden values-->
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{confirmed}">

            <input type="submit" th:value="${editmode} ? 'Save' : 'Add'">

            <!--<button type="submit" formaction="/registrar/students" formmethod="get">Cancel</button>-->
            <!--<button type="button"><a href="/registrar/students">Cancel</a></button>-->
            <input type="button" onclick="location.href='/registrar/students';" value="Cancel" />
            <!--<form action="/registrar/students" method="get">
                <input type="submit" value="Cancelar">
            </form>-->
        </form>
        <p th:text="${errormsg}" th:class="Error">Default error message</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>