<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="registrarfragments :: head"></head>

<body class="clgray">
    <div class="container-fluid">
        <nav th:replace="registrarfragments :: nav"></nav>
        <div class="container-fluid mt-4 bg-white">
            <div class="row">
                <div class="col-sm-8 ct2 text-center">
                    <h1>Subject List</h1>
                </div>
                <div class="col-sm-4 mt-2"></div>
            </div>
            <div class="table-responsive">
                <table id="subject-table" class="table table-hover nav-pills mt-4">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="subject-list">
                        <tr th:each="subject : ${subjects}" th:id="'rowid-' + ${subject.id}">
                            <td th:text="${subject.name}" th:id="${subject.id}"></td>
                            <td><a th:id="'editId-' + ${subject.id}" href="#">Edit</a></td>
                            <td><a th:id="'deleteId-' + ${subject.id}" href="#">Delete</a></td>
                        </tr>
                        <tr>
                            <td><a id="a-link-add" href="#">Add</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid bg-white">
                <div class="col-sm-3 bg-white" id="edit-form" hidden>
                    <h3 id="subject-form" class="text-center mb-4">Adding a new subject</h3>
                    <div class="form-group row">
                        <label for="subject-name-box" class="col-form-label col-sm-5">Name:</label>
                        <div class="col-sm-7">
                            <input id="subject-name-box" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="py-2">
                        <button id="add-edit-button" class="btn btn-primary">Add</button>
                        <button id="cancel-button" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
            <div id="errormsg" class="alert alert-danger alert-dismissible my-2" hidden></div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/registrarsubjects.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>